<mat-card>
  <mat-card-content>
    <div *ngFor="let category of categories" class="category">
      <h3>{{ category.title }}</h3>
      <mat-list>
        <mat-list-item *ngFor="let link of category.links">
          <ng-container *ngIf="link.url; else plainText">
            <a [href]="link.url" target="_blank">{{ link.label }}</a>
          </ng-container>
          <ng-template #plainText>
            <span>{{ link.label }}</span>
          </ng-template>
        </mat-list-item>
      </mat-list>
    </div>
  </mat-card-content>
</mat-card>
