<mat-card>
  <mat-card-title>Zdroje</mat-card-title>
  <mat-card-content>
    <mat-list>
      <mat-list-item>
        <span><strong>Oficiálna dokumentácia HTML: </strong>
          <a href="https://html.spec.whatwg.org/" target="_blank">html.spec.whatwg.org</a>
        </span>
      </mat-list-item>

      <mat-list-item>
        <span><strong>Oficiálna dokumentácia CSS: </strong>
          <a href="https://www.w3.org/Style/CSS/" target="_blank">w3.org/Style/CSS</a>
        </span>
      </mat-list-item>

      <mat-list-item>
        <span><strong>Oficiálna dokumentácia JavaScript: </strong>
          <a href="https://tc39.es/ecma262/" target="_blank">tc39.es/ecma262</a>
        </span>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
