<mat-card class="contact-card">
  <mat-card-title>Kontaktujte ma</mat-card-title>
  <mat-card-content>
    <div class="icons-container">
      <a href="mailto:babinsky4@uniba.sk" class="icon-link">
        <img src="outlook.png" alt="Email" class="contact-icon">
        <span class="main-text">Email</span>
        <span class="additional-text">babinsky4&commat;uniba.sk</span>
      </a>

      <a href="https://www.linkedin.com/in/ondrej-babinsk%C3%BD-6759061a1/" target="_blank" class="icon-link">
        <img src="linkedin.png" alt="LinkedIn" class="contact-icon">
        <span class="main-text">LinkedIn</span>
        <span class="additional-text">Ondrej Babinský</span>
      </a>

      <a href="https://www.instagram.com/onosaur/" target="_blank" class="icon-link">
        <img src="instagram.png" alt="Instagram" class="contact-icon">
        <span class="main-text">Instagram</span>
        <span class="additional-text">onosaur</span>
      </a>

      <a href="https://discord.com/" target="_blank" class="icon-link">
        <img src="discord.png" alt="Discord" class="contact-icon">
        <span class="main-text">Discord</span>
        <span class="additional-text">lexendo</span>
      </a>

    </div>
  </mat-card-content>
</mat-card>


<div class="tech-container">
  <p class="tech-text">Made using</p>
  <div class="tech-icons">
    <a href="https://angular.io/" target="_blank">
      <img src="angular.png" alt="Angular" title="Angular">
    </a>
    <a href="https://www.typescriptlang.org/" target="_blank">
      <img src="typescript.png" alt="TypeScript" title="TypeScript">
    </a>
    <a href="https://developer.mozilla.org/en-US/docs/Web/HTML" target="_blank">
      <img src="html.png" alt="HTML" title="HTML">
    </a>
    <a href="https://sass-lang.com/" target="_blank">
      <img src="scss.png" alt="SCSS" title="SCSS">
    </a>
  </div>
</div>
