<mat-card>
  <mat-card-title>Zadanie bakalárskej práce</mat-card-title>
  <mat-card-content>
    <p><strong>Študent:</strong> Ondrej Babinský</p>
    <p><strong>Stredisko:</strong> Katedra aplikovanej informatiky</p>
    <p><strong>Jazyk práce:</strong> slovenský</p>
    <p><strong>Sekundárny jazyk:</strong> anglický</p>
    <p><strong>Názov práce:</strong> Nový L.I.S.T.</p>
    <p><strong>Školiteľ:</strong> Mgr. Pavel Petrovič, PhD.</p>
    <p><strong>Kontakt na študenta:</strong> <a href="mailto:babinsky4@uniba.sk">babinsky4&commat;uniba.sk</a></p>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title>Anotácia</mat-card-title>
  <mat-card-content>
    <p>
      Na viacerých predmetoch v našom študijnom programe používame systém na zadávanie úloh L.I.S.T.,
      ktorý bol vyvinutý pôvodne ako bakalárska práca, neskôr na ňom autor pokračoval vo svojej diplomovej práci
      a potom prebiehal ďalší príležitostný vývoj. Hoci systém slúži úspešne viac ako 10 rokov,
      pomaly dospel do štádia, keď je vhodné vytvoriť nový - ktorý ale využije potenciál tisícov úloh a zadaní, ktoré systém obsahuje.
    </p>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title>Cieľ</mat-card-title>
  <mat-card-content>
    <p>
      Nový ekvivalent systému L.I.S.T. je nad rámec rozsahu jednej bakalárskej práce, takže sa očakáva, že študent vyvinie sadu modulov,
      ktoré sa integrujú s inými modulmi vyvinutými ďalšími študentami v iných bakalárskych prácach.
      Práca bude zahŕňať podrobné zmapovanie existujúcej funkcionality súčasného systému,
      analýzu požiadaviek nutnej a doplnkovej funkcionality, ktorú treba zachovať a zozbieranie požiadaviek
      pre nový systém od súčasných používateľov systému L.I.S.T.
      Na základe tejto analýzy študent navrhne, implementuje a integruje svoj komponent do nového systému L.I.S.T.
    </p>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title>Literatúra</mat-card-title>
  <mat-card-content>
    <ul>
      <li>Andrej Jursa, Nový dlhodobý viacúčelový sklad úlohy na cvičenia, bakalárska práca, Fakulta matematiky, fyziky a informatiky, 2013.</li>
      <li>Andrej Jursa, Realizácia automatického testovania úloh a kontroly plagiátorstva v úlohovom systéme LIST, diplomová práca, Fakulta matematiky, fyziky a informatiky, 2015.</li>
      <li>Filip Piták: Systém pre dlhodobú správu zadaní úloh, bakalárska práca, Fakulta matematiky, fyziky a informatiky, 2022.</li>
      <li>Full Stack Development with Spring Boot 3 and React - Fourth Edition: Build modern web applications using the power of Java, React, and TypeScript, Packt Publishing, 2023.</li>
    </ul>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title>Kľúčové slová</mat-card-title>
  <mat-card-content>
    <p><strong>LIST, LMS, automatické testy, programátorské úlohy</strong></p>
  </mat-card-content>
</mat-card>
